@charset "UTF-8";


@media (min-width: 1200px) {

.dots {
	top: 83%;
}

/*INDEX*/

.bg1 {
	background-image: url(../images/home-1200.jpg);
}

.bg2 {
	background-image: url(../images/home-2-1200.jpg);
}

.bg3 {
	background-image: url(../images/home-3-1200.jpg);
}

.logo__header {
	margin-top: 50px;
	width: 150px;
}

.home__title h1 {
	font-size: 3.3em;
}

.home__title h5 {
	font-size: 1em;
	line-height: 1.3em;
}

.thumbnail > .caption {
	top: 180px;
	padding: 0 40px;
}

.map__footer {
	margin-top: 60px;
}

/*NOSOTROS*/

.bg-nosotros {
	background-image: url(../images/nosotros-header-1200.jpg);
}

.mision__description {
	margin-top: 100px;
	text-align: left;
}

.objetivos__section {
	margin-top: 50px;
}


/*NOTICIAS*/

.noticias__date {
	position: relative;
	bottom: -120px;
}

.header__noticias {
	text-align: center;
	background-image: url(../images/noticias-header-1200.jpg);
	background-size: cover;
	background-position: top;
	height: 60vh;
	padding-top: 5vh;
}

.main__news {
	border-right: 1px solid #cccccc;
	margin-bottom: 100px;
}

.news__post img {
	margin: 0 auto;
	filter: brightness(80%) grayscale(20%);
	transition: 1s;
}

.news__post img:hover {
	filter: brightness(100%) grayscale(0%);
}

.side__col {
	margin-top: 40px;
}


}

@media (min-width: 1440px) {

/*INDEX*/

.logo__header {
	margin-top: 70px;
	width: 180px;
}

.home__title {
	padding: 20vh 130px;
}

.home__title h1 {
	font-size: 3.8em;
}

.home__title h5 {
	font-size: 1.1em;
}

.thumbnail > .caption {
	top: 150px;
	padding: 0 50px;
}

/*NOSOTROS*/

.quienes-somos__section {
	margin-top: 80px;
}

.mision__section {
	margin-top: 80px;
}

.mision__description {
	margin-top: 300px;
}

.objetivos__item {
	height: 250px;
	width: 250px;
	font-size: 0.95em;
}

/*NOTICIAS*/

.header__noticias {
	height: 70vh;
	padding-top: 10vh;
}

}