@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
}

/*INDEX*/

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  background-color: black;
}


/* The dots/bullets/indicators */
.dot {
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: none;
  border: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center;
}

.dots {
	position: absolute;
	top: 82%;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.active {
  background-color: #fff;
}

.w3-animate-fading {
    animation: fading 6s infinite;
}

@keyframes fading {
	0% {
		opacity: 0.2;
	}

	5% {
		opacity: 1;
	}

	95% {
		opacity: 1;
	}

	100% {
		opacity: 0.2;
	}
}


.header__bgimg {
	
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;
	text-align: center;
}

.bg1 {
	background-image: url(../images/home.jpg);
}

.bg2 {
	background-image: url(../images/home-2.jpg);
}

.bg3 {
	background-image: url(../images/home-3.jpg);
}

.logo__header {
	margin-top: 30px;
	width: 110px;
	border-radius: 5px;
}

.home__title {
	padding: 18vh 30px;
}

.home__title h1 {
	font-family: 'Roboto Slab', serif;
	color: #fff;
}

.home__title h5 {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.9em;
	line-height: 1.3em;
}

.noticiasindex__section {
	text-align: center;
	margin-top: 50px;
}

.noticiasindex__section > h2 {
	font-family: 'Roboto Slab', serif;
}

.noticiasindex__container {
	margin-top: 30px;
}

.thumbnail {
	border: none;
}

.thumbnail > img {
	position: relative;
	filter: brightness(50%);
}

.thumbnail > .caption {
	position: absolute;
	top: 110px;
	left: 0px;
	padding: 0 60px;
	text-align: left;
}

.caption h3 {
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-size: 1.4em;
}

.caption p {
	color: #fff;
}

.btn-primary {
	border-color: #82c1d1;
	background-color: #82c1d1;
}

 .btn-primary:hover, .btn-primary:active:hover {
	border-color: #82c1d1;
	background-color: #82c1d1;
}

.footer__section {
	background-color: #cccccc;
	text-align: center;
	padding: 40px 0px;
}

.footer__section h2 {
	font-family: 'Roboto Slab', serif;
	color: #606060;
}

.info__contacto h3 {
	color: #606060;
	font-weight: 600;
}

.map__footer {
	margin-top: 30px;
}